
    <div class="row p-3">

      <div class="col">
        <h5>Buscar</h5>
        <input type="text" class="form-control" placeholder="Buscar Gifs ..." />
      </div>

    </div>
    <hr/>

    <div class="row">
      <div class="col">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae nulla, a
        fugit ducimus possimus repellendus porro, corrupti, nemo eligendi
        praesentium numquam accusantium ea. Consectetur vero assumenda itaque
        odio fugiat laudantium.
      </div>
    </div>

