<div class="d-flex">
  <!-- Sidebar -->
  <div class="bg-dark border-reight p-3" id="sidebar">
    <h3 class="text-light">Gifs - App</h3>
    <hr class="text-white" />

    <div class="list-group list-reset">
      <a href="#" class="list-group-item list-group-item-action"> Dashboard </a>
    </div>
  </div>
  <!-- Fin Sidebar -->

  <div class="container">
    <div class="row">

      <div class="col">
        <h5>Buscar</h5>
        <input type="text" class="form-control" placeholder="Buscar Gifs ..." />
      </div>

    </div>
    <hr/>

    <div class="row">
      <div class="col">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae nulla, a
        fugit ducimus possimus repellendus porro, corrupti, nemo eligendi
        praesentium numquam accusantium ea. Consectetur vero assumenda itaque
        odio fugiat laudantium.
      </div>
    </div>
    
  </div>
</div>
